.forgetPassword {
  background-color: lightgray;
  margin: 0px;
  display: flex;
}

.forgetPassword .wrapper {
  width: 400px;
  padding: 40px;
  flex-direction: column;
  text-align: start;
  justify-content: start;
  margin: auto;
  border: 1px solid lightgray;
  margin-top: 100px;
  margin-bottom: 100px;
  border-radius: 12px;
  background-color: #ffff;
}
.findYourAccount {
  width: 100%;
  margin: 0px;
}
.findYourAccount h2 {
  justify-content: start;
  text-align: start;
  align-items: start;
  font-size: 24px;
  width: 100%;
  margin-bottom: 1px;
  margin-top: 1px;
  color: rgb(8, 102, 255);
}
.email-mobile-textArea p {
  display: flex;
  font-size: 18px;
  width: 100%;
  margin-top: 1px;
}

.email-mobile-textArea input {
  width: 95%;
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: 1px solid gray;
}

.btnArea {
  margin-top: 20px;
  justify-content: end;
  width: 100%;
  align-items: end;
}
.btns {
  display: flex;
  justify-content: end;
  align-items: end;
  width: 100%;
}

.btns button {
  justify-content: end;
  align-items: end;
  margin-right: 10px;
  height: 32px;
  border-radius: 6px;
  outline: none;
  border: 1px solid gray;
  padding: 4px 12px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
}

.btns #cancel {
  background-color: lightgray;
  color: black;
}
.btns #cancel:hover {
  background-color: rgba(211, 211, 211, 0.795);
  color: black;
}

.btns #search {
  background-color: rgb(8, 102, 255);
  border: none;
}

.btns #search:hover {
  background-color: rgba(8, 103, 255, 0.823);
  border: none;
}
